:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Set html and body to use the full height */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  /* Use flex layout */
  flex-direction: column;
  /* Align items vertically */
}

/* Ensure the root div takes the full height */
#root {
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
}

/* App container should fill the remaining space */
.app-container {
  flex: 1;
  /* Take all available space */
  display: flex;
  flex-direction: column;
  /* Keep the navbar at the top and content below */
  top:0;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: blanchedalmond;
}

/* Ensure navbar is fixed at the top */
.navbar {
  z-index: 1000;
  /* Optional: Makes sure navbar stays above other content */
}

/* Content section that takes the remaining space */
.content {
  flex: 1;
  /* Allow the content area to take all remaining space */
  padding: 20px;
  /* Optional: Add some padding for the content */
  align-self: center;
}